section.portfolio
  .port-header
    h1 Portfolio.
    p We understand your requirement and provide quality works.
  .projects1
    .p-img
      img(src='./src/images/Single-Item-row-1.png' alt='')
    .p-img
      img(src='./src/images/item--row1-2.png' alt='')
    .p-img
      img(src='./src/images/item-row-1.png' alt='')
  .projects2
    .p-img
      img(src='./src/images/portfolio-itema-syntetic-wool.png' alt='')
    .p-img
      img(src='./src/images/portfolio-itema-discout.png' alt='')
    .p-img
      img(src='./src/images/portfolio-itema-row-2.png' alt='')
  .projects3
    .p-img
      img(src='./src/images/portfolio-itema-mars.png' alt='')
    .p-img
      img(src='./src/images/portfolio-itema-rest.png' alt='')
    .p-img
      img(src='./src/images/portfolio-itema-counter.png' alt='')