.header-focus {
  @include flex($direction: column, $align: center);
  /*display: flex;
    flex-direction: column;
    align-items: center;*/
  padding-top: 80px;
}

.header-focus h1 {
  font-size: 50pt;
  font-family: $header-font;
}

.header-focus p {
  font-size: 15pt;
  color: #616161;
  font-family: $text-font;
}
