/*   COLORS       */
/*      FONT        */
/*      SHADOWS     */
.video {
  width: 1920px;
  height: 500px;
  background-image: url(../src/images/1920-500.png); }

.video-1 {
  color: #fff;
  padding-top: 130px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.video-1 h1 {
  font-family: "Poppins", sans-serif;
  font-size: 30pt;
  font-weight: 400; }
