section.our-team
  .team-header
    h1 Our Team.
    p We understand your requirement and provide quality works.
  .team-members
    .member1
      img(src='./src/images/263x270.png' alt='')
      h3 Michael Schmitt
      p Founder &amp; CEO
    .member2
      img(src='./src/images/263x270.png' alt='')
      h3 David Kramer
      p Lead Developer
    .member3
      img(src='./src/images/263x270.png' alt='')
      h3 Anna Schroder
      p Designer
    .member4
      img(src='./src/images/263x270.png' alt='')
      h3 Jason Teichmann
      p Consultant
  .about-members
    .about-member
      h3 About Bennet
      p
        | Monetization first mover advantage iPad. Interaction design buzz
        | handshake. Stealth 
        br
        |             agile development branding. Backing facebook hackathon conversion
        |             startup scrum 
        br
        |             project niche market business-to-consumer paradigm shift traction.
        |             Rockstar 
        br
        |             bandwidth twitter ownership success disruptive series A financing
        |             user experience 
        br
        |             buyer client social proof validation hypotheses. User experience
        |             crowdfunding 
        br
        |             facebook seed round A/B testing mass market.
    .about-img
      img(src='./src/images/3dots.png' alt='')
    .member-links
      img(src='./src/images/fb.png' alt='')
      img(src='./src/images/twi.png' alt='')
      img(src='./src/images/lin.png' alt='')
      img(src='./src/images/inst.png' alt='')