@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0;
  margin-block-end: 0; }

body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

/*   COLORS       */
/*      FONT        */
/*      SHADOWS     */
/*   COLORS       */
/*      FONT        */
/*      SHADOWS     */
header {
  background-color: #fff;
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.25); }

.start-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: auto; }

.main-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif; }

.main-nav .nav-link {
  padding: 30px 11px 29px;
  color: #020a07; }
  .main-nav .nav-link:hover {
    background-color: rgba(0, 0, 0, 0.1); }
  .main-nav .nav-link:active {
    background-color: rgba(0, 0, 0, 0.3); }
  .main-nav .nav-link:focus {
    background-color: rgba(0, 0, 0, 0.1);
    outline: none; }

/*   COLORS       */
/*      FONT        */
/*      SHADOWS     */
.main-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../src/images/1920.png);
  background-size: cover;
  color: #fff;
  padding: 100px 0; }

.main-layout h1 {
  font-family: "Libre Baskerville", sans-serif;
  font-size: 60pt;
  font-weight: 400; }

.btn-primary {
  background-color: #fc5f45;
  text-decoration: none;
  padding: 16px 40px;
  color: #fff;
  width: 180px;
  border-radius: 30px;
  border-color: transparent;
  cursor: pointer;
  outline: none; }

.items {
  margin-top: 50px;
  width: 960px;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.items p {
  padding-top: 48px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 18pt;
  font-weight: 500; }

.item-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #3aa281; }

.item-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #b27cf5; }

.item-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #feb960; }

/*   COLORS       */
/*      FONT        */
/*      SHADOWS     */
.about-us {
  height: 1324px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 100px; }

.about-text {
  height: 550px;
  background-color: #fff;
  width: 650px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
  margin-left: -70px;
  margin-top: 80px;
  font-size: 40pt;
  background-image: url(../src/images/01.png);
  background-repeat: no-repeat;
  background-position: left top;
  border-bottom: 3px solid #fc5f45;
  display: flex;
  flex-direction: column;
  align-items: center; }

.about-text h1 {
  font-size: 50pt;
  font-family: "Libre Baskerville", sans-serif;
  font-weight: 700; }

.about-text p {
  font-family: "Poppins", sans-serif;
  font-size: 11pt;
  font-weight: 400;
  line-height: 30px;
  text-align: center; }

/*   COLORS       */
/*      FONT        */
/*      SHADOWS     */
.our-focus {
  width: 100%;
  height: 820px;
  background-color: #f7f7f7;
  background-image: url(../images/02.png);
  background-repeat: no-repeat;
  background-position: center top; }

.header-focus {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px; }

.header-focus h1 {
  font-size: 50pt;
  font-family: "Libre Baskerville", sans-serif; }

.header-focus p {
  font-size: 15pt;
  color: #616161;
  font-family: "Poppins", sans-serif; }

.focus-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 80px; }

.focus-icons h3 {
  font-weight: 500;
  padding-top: 20px; }

.focus-icons p {
  line-height: 25px; }

.f-icon-1 {
  background-color: #fff;
  height: 350px;
  width: 260px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 60px;
  border-bottom: 3px solid #fc5f45; }

.f-icon-2 {
  background-color: #fff;
  height: 350px;
  width: 260px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 60px;
  border-bottom: 3px solid #3aa281; }

.f-icon-3 {
  background-color: #fff;
  height: 350px;
  width: 260px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 60px;
  border-bottom: 3px solid #b27cf5; }

.f-icon-4 {
  background-color: #fff;
  height: 350px;
  width: 260px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 60px;
  border-bottom: 3px solid #feb960; }

/*   COLORS       */
/*      FONT        */
/*      SHADOWS     */
.video {
  width: 100%;
  height: 500px;
  background-image: url(../src/images/1920-500.png); }

.video-1 {
  color: #fff;
  padding-top: 130px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.video-1 h1 {
  font-family: "Poppins", sans-serif;
  font-size: 30pt;
  font-weight: 400; }

/*   COLORS       */
/*      FONT        */
/*      SHADOWS     */
.portfolio {
  width: 100%;
  height: 1386px;
  background-image: url(../src/images/03.png);
  background-repeat: no-repeat;
  background-position: center top; }

.port-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px; }

.port-header h1 {
  font-size: 50pt;
  font-family: "Libre Baskerville", sans-serif; }

.port-header p {
  font-size: 18pt;
  color: #616161; }

.projects1,
.projects2,
.projects3 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px; }

/*   COLORS       */
/*      FONT        */
/*      SHADOWS     */
.our-team {
  width: 100%;
  height: 1386px;
  background-image: url(../src/images/04.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-color: #f7f7f7; }

.team-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 80px; }

.team-header h1 {
  font-size: 50pt;
  font-family: "Libre Baskerville", sans-serif; }

.team-members {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.member1 {
  border-bottom: 3px solid #fc5f45;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05); }

.member2 {
  border-bottom: 3px solid #38c695;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05); }

.member3 {
  border-bottom: 3px solid #b27cf5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05); }

.member4 {
  border-bottom: 3px solid #feb960;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05); }

.about-members {
  height: 350px;
  width: 1140px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 100px;
  margin-left: 100px; }

.about-member {
  display: flex;
  flex-direction: column; }

.about-member h3 {
  padding-left: 50px; }

.about-member p {
  padding-left: 50px;
  line-height: 30px; }

.about-img {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 100px; }

.member-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0 10px 100px;
  color: #616161;
  font-family: "Poppins 400", sans-serif;
  font-size: 15pt;
  border-left: 1px solid black;
  height: 120px;
  margin-left: 50px; }

.member1 {
  border-bottom: 3px solid #fc5f45;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*display: flex;
    flex-direction: column;
    align-items: center;*/
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05); }

/*   COLORS       */
/*      FONT        */
/*      SHADOWS     */
.results {
  height: 464px;
  background-image: url(../src/images/coffee.png);
  background-repeat: no-repeat; }

.metrics {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 200px; }

.metrics h3 {
  color: #fff;
  font-family: "Poppins", sans-serif; }

.metrics p {
  color: #9e9ea2; }

.metrics img {
  padding-bottom: 10px; }

.metric-1,
.metric-2,
.metric-3,
.metric-4 {
  display: flex;
  flex-direction: column;
  align-items: center; }

/*   COLORS       */
/*      FONT        */
/*      SHADOWS     */
.work-steps {
  height: 1720px;
  background-image: url(../src/images/05.png);
  background-repeat: no-repeat;
  background-position: center top; }

.w-steps-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px; }

.w-steps-header h1 {
  font-size: 50pt;
  font-family: "Libre Baskerville", sans-serif; }

.w-steps-header p {
  font-family: "Poppins", sans-serif;
  font-size: 18pt;
  color: #8b8b8b; }

.steps-img {
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.work-steps h4 {
  font-family: "Poppins", sans-serif;
  font-size: 25pt;
  font-weight: 400; }

.main-steps {
  display: flex;
  flex-direction: row; }

.proj {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.proj h4 {
  padding-left: 50px; }

.proj p {
  line-height: 30px;
  padding-left: 50px;
  font-family: "Poppins", sans-serif;
  font-size: 12pt;
  font-weight: 400; }

.proj01 {
  margin-left: -280px;
  margin-top: -50px;
  position: absolute;
  height: 300px;
  width: 460px;
  background-color: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../src/images/01-wstep.png), url(../src/images/line.png);
  background-repeat: no-repeat;
  background-position: left top;
  border-bottom: 3px solid #fc5f45; }

.proj02 {
  position: absolute;
  margin-left: 400px;
  margin-top: -50px;
  height: 300px;
  width: 460px;
  background-color: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../src/images/02-wstep.png), url(../src/images/line.png);
  background-repeat: no-repeat;
  background-position: left top;
  border-bottom: 3px solid #38c695; }

.proj03 {
  margin-left: -280px;
  margin-top: -50px;
  position: absolute;
  height: 300px;
  width: 460px;
  background-color: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../src/images/03-wstep.png), url(../src/images/line.png);
  background-repeat: no-repeat;
  background-position: left top;
  border-bottom: 3px solid #b27cf5; }

.proj04 {
  position: absolute;
  margin-left: 400px;
  margin-top: -50px;
  height: 300px;
  width: 460px;
  background-color: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../src/images/04-wstep.png), url(../src/images/line.png);
  background-repeat: no-repeat;
  background-position: left top;
  border-bottom: 3px solid #feb960; }

/*   COLORS       */
/*      FONT        */
/*      SHADOWS     */
.pricing-table {
  background-color: #f7f7f7;
  background-image: url(../src/images/06.png);
  background-repeat: no-repeat;
  background-position: center top;
  height: 1050px; }

.pricing-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px; }

.pricing-header h1 {
  font-size: 50pt;
  font-family: "Libre Baskerville"; }

.pricing-packs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 85px; }

.pricing-packs li {
  line-height: 30px;
  list-style: none; }

.pricing-packs h3 {
  margin-top: 30px; }

.pricing-packs h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20pt;
  padding-bottom: 45px; }

.pack-price1 {
  margin-top: 30px;
  background-size: contain;
  background-image: url(../src/images/price-green.png);
  background-repeat: no-repeat;
  background-position: center top;
  width: 116px;
  height: 116px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff; }

.pack-price1 p {
  font-family: "Poppins", sans-serif;
  font-size: 11pt;
  margin-top: -35px; }

.pack-price2 {
  background-size: contain;
  margin-top: 30px;
  background-image: url(../src/images/price-orange.png);
  background-repeat: no-repeat;
  background-position: center top;
  width: 116px;
  height: 116px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff; }

.pack-price2 p {
  font-family: "Poppins", sans-serif;
  font-size: 11pt;
  margin-top: -35px; }

.pack-price3 {
  margin-top: 30px;
  background-size: contain;
  background-image: url(../src/images/price-purple.png);
  background-repeat: no-repeat;
  background-position: center top;
  width: 116px;
  height: 116px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff; }

.pack-price3 p {
  font-family: "Poppins", sans-serif;
  font-size: 11pt;
  margin-top: -35px; }

.pack1 {
  border-top: 3px solid #38c695;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
  height: 575px;
  width: 363px;
  display: flex;
  align-items: center;
  flex-direction: column; }

.pack2 {
  border-top: 3px solid #fc5f45;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
  height: 575px;
  width: 363px;
  display: flex;
  align-items: center;
  flex-direction: column; }

.pack3 {
  border-top: 3px solid #b27cf5;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
  height: 575px;
  width: 363px;
  display: flex;
  align-items: center;
  flex-direction: column; }

.btn-pack1 {
  border-radius: 30px;
  padding: 15px 35px;
  background-color: #fff;
  text-decoration: none;
  border: 3px solid #38c695;
  color: #38c695;
  cursor: pointer;
  outline: none; }

.btn-pack1:hover {
  background-color: #38c695;
  color: #fff;
  -webkit-transition-duration: 1s;
  transition-duration: 1s; }

.btn-pack2 {
  border-radius: 30px;
  padding: 15px 35px;
  background-color: #fff;
  text-decoration: none;
  border: 3px solid #fc5f45;
  color: #fc5f45;
  cursor: pointer;
  outline: none; }

.btn-pack2:hover {
  background-color: #fc5f45;
  color: #fff;
  transition-duration: 1s; }

.btn-pack3 {
  border-radius: 30px;
  padding: 15px 35px;
  background-color: #fff;
  text-decoration: none;
  border: 3px solid #b27cf5;
  color: #b27cf5;
  cursor: pointer;
  outline: none; }

.btn-pack3:hover {
  background-color: #b27cf5;
  color: #fff;
  -webkit-transition-duration: 1s;
  transition-duration: 1s; }

/*   COLORS       */
/*      FONT        */
/*      SHADOWS     */
.testimonials {
  background-color: #3f4049;
  background-image: url(../src/images/07.png);
  background-repeat: no-repeat;
  background-position: center top;
  color: #fff;
  height: 875px; }

.testi-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px; }

.testi-header h1 {
  font-size: 50pt;
  font-family: "Libre Baskerville", sans-serif; }

.testi-header p {
  font-size: 18pt; }

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.main-text {
  background-color: #fff;
  color: #616161;
  background-image: url(../src/images/quotes.png);
  background-repeat: no-repeat;
  background-position: left top;
  width: 755px;
  height: 300px;
  border-bottom: 3px solid #fc5f45;
  margin-top: 50px;
  margin-left: -20px; }

.main-text p {
  padding: 40px 0 0 20px;
  line-height: 25px; }

/*   COLORS       */
/*      FONT        */
/*      SHADOWS     */
.select-us {
  height: 1050px;
  width: 100%;
  background-image: url(../src/images/08.png);
  background-repeat: no-repeat;
  background-position: center top; }

.select-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px; }

.select-header h1 {
  font-size: 50pt;
  font-family: "Libre Baskerville", sans-serif; }

.advantages {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.advantages p,
.advantages2 p {
  color: #616161;
  line-height: 25px; }

.advantages2 {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.adv-header {
  display: flex;
  flex-direction: row; }

.adv-header img {
  align-self: center; }

.adv-header h5 {
  padding-left: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18pt; }

.adv1 {
  height: 180px;
  width: 350px; }

.adv2 {
  height: 180px;
  width: 350px; }

.adv3 {
  height: 180px;
  width: 350px; }

.get-started {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px; }

.get-started h4 {
  font-family: "Poppins", sans-serif;
  font-size: 25pt;
  font-weight: 400;
  color: #020a07; }

.get-started button {
  align-self: center;
  margin-left: 20px;
  color: #fff;
  width: 180px;
  border-radius: 30px;
  background-color: #fc5f45;
  border-color: transparent;
  cursor: pointer;
  padding: 15px;
  outline: none; }

/*   COLORS       */
/*      FONT        */
/*      SHADOWS     */
.our-blog {
  background-color: #f7f7f7;
  background-image: url(../src/images/09.png);
  background-repeat: no-repeat;
  background-position: center top;
  height: 1150px; }

.blog-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px; }

.blog-header h1 {
  font-size: 50pt;
  font-family: "Libre Baskerville", sans-serif; }

.blog-header p {
  font-family: "Poppins", sans-serif;
  font-size: 18pt;
  color: #8b8b8b; }

.blogs {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.blog-main {
  display: flex;
  flex-direction: column;
  height: 672px;
  width: 562px;
  color: #020a07;
  background-color: #fff;
  border-bottom: 3px solid #fc5f45;
  margin-right: 20px; }

.blog-main-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: -50px;
  padding-left: 35px; }

.blog-main h5 {
  color: #fc5f45;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 12pt; }

.blog-main-header p {
  padding-left: 20px;
  padding-top: 13px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #fc5f45;
  font-size: 8pt; }

.blog-main-content {
  display: flex;
  flex-direction: column; }

.blog-main-content h4 {
  font-family: "Poppins", sans-serif;
  font-size: 15pt;
  font-weight: 500;
  padding-left: 35px;
  line-height: 25px; }

.blog-main-content p {
  line-height: 25px;
  padding-left: 35px;
  color: #616161;
  font-size: 11pt;
  font-family: "Poppins", sans-serif;
  font-weight: 400; }

.side-blog {
  display: flex;
  flex-direction: column;
  align-items: center; }

.side-blog-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.side-blog-header h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 15pt; }

.side-blog-header p {
  padding-right: 220px;
  padding-top: 25px;
  font-size: 10pt;
  font-family: "Poppins", sans-serif;
  font-weight: 400; }

.side-blog h4 {
  padding-left: 6px;
  font-family: "Poppins", sans-serif;
  font-weight: 500; }

.side-blog p {
  padding-left: 6px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #616161; }

.side-blog1 {
  background-color: #fff;
  color: #020a07;
  height: 208px;
  width: 555px;
  margin-bottom: 25px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
  border-bottom: 3px solid #38c695;
  display: flex;
  flex-direction: column; }

.side-blog1 h5,
.side-blog1 a {
  color: #38c695; }

.side-blog2 {
  background-color: #fff;
  color: #020a07;
  height: 208px;
  width: 555px;
  margin-bottom: 25px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
  border-bottom: 3px solid #b27cf5;
  display: flex;
  flex-direction: column; }

.side-blog2 h5,
.side-blog2 a {
  color: #b27cf5; }

.side-blog3 {
  background-color: #fff;
  color: #020a07;
  height: 206px;
  width: 555px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
  border-bottom: 3px solid #feb960;
  display: flex;
  flex-direction: column; }

.side-blog3 h5,
.side-blog3 a {
  color: #feb960; }

/*   COLORS       */
/*      FONT        */
/*      SHADOWS     */
.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 424px; }

.subscribe h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 30pt; }

.subscriber input {
  border-radius: 30px;
  padding: 15px 100px 15px 15px;
  background-color: #f7f7f7;
  color: #616161;
  border: 2px solid #efefef;
  border-bottom-right-radius: 0%;
  border-top-right-radius: 0%;
  outline: none; }

.subscriber button {
  align-self: center;
  margin-left: -20px;
  color: #fff;
  width: 180px;
  border-radius: 30px;
  background-color: #fc5f45;
  border-color: transparent;
  cursor: pointer;
  padding: 15px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  text-transform: uppercase;
  outline: none; }

/*   COLORS       */
/*      FONT        */
/*      SHADOWS     */
.in-touch {
  height: 1300px;
  background-image: url(../src/images/10.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-color: #cccccc; }

.in-touch-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px; }

.in-touch-header h1 {
  font-size: 50pt;
  font-family: "Libre Baskerville", sans-serif;
  font-weight: 700; }

.touch-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.input-line1 input,
.input-line2 input {
  background-color: #fff;
  padding: 15px 130px;
  border-radius: 4px;
  border-color: transparent;
  outline: none; }

.input-line2,
.input-message {
  margin-top: 25px;
  outline: none; }

.input-message input {
  padding: 15px 365px 300px 365px;
  border-radius: 4px;
  border-color: transparent;
  outline: none; }

.touch-form button {
  margin-top: 25px;
  color: #fff;
  border-radius: 30px;
  background-color: #fc5f45;
  border-color: transparent;
  cursor: pointer;
  padding: 15px 30px;
  text-transform: uppercase;
  outline: none; }

/*   COLORS       */
/*      FONT        */
/*      SHADOWS     */
footer {
  background-color: #3f4049;
  width: 1136px;
  height: 225px;
  margin-top: 100px;
  margin-left: 370px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom: 3px solid #fff; }

.footer-img {
  display: flex;
  align-self: center; }

.f-adress-gl {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.f-adress-gl h5 {
  color: #3aa281; }

.f-adress-gl p {
  color: #fff;
  line-height: 25px; }

.f-adress-uk {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.f-adress-uk h5 {
  color: #b27cf5; }

.f-adress-uk p {
  color: #fff;
  line-height: 25px; }

.f-follow {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.f-follow h5 {
  color: #feb960;
  padding-bottom: 50px; }
