@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
  font-family: "Poppins", sans-serif;
  background: #3f4049;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.main-nav {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.25);
  width: 1920px;
  height: 75px;
}

.menu {
  float: right;
}

.menu li {
  display: inline;
  margin-right: 20px;

  text-align: center;
  padding: 30px;
}

nav a {
  font-size: 14px;
  color: black;
  text-align: right;
}

#showcase {
  background-image: url("src/ourworks.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
}

.container {
  text-align: center;
  margin: 0 auto;
  padding: 0 3rem;
}

#showcase h1 {
  font-size: 50px;
  color: rgb(255, 255, 255);
  margin-top: 25vh;
}

.btn-primary {
  background-color: #fc5f45;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  margin: 4px;
  border-radius: 20px;
  width: 220px;
}

.icons {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 4rem 1rem;
}

.grid-3 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.center {
  text-align: center;
  margin: auto;
}

.about-us {
  background-color: #fff;
  margin-top: auto;
}
.right-about {
  background-color: black;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
}

.about-us {
  position: relative;
  text-align: center;
}

.img1 {
  position: relative;
}

.img2 {
  position: absolute;
  top: 70px;
  left: 1100px;
}

.img2 .centered {
  z-index: 100;
  position: absolute;
  font-size: 24px;
  font-weight: bold;
  left: 150px;
  top: 350px;
}

.our-focus {
  background-color: #f7f7f7;
}

.centered02 {
  text-align: center;
}

.cards02 {
  margin-top: 50px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}
