@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
  font-family: "Poppins", sans-serif;
  background: #3f4049;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

nav {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 75px;
  z-index: 710;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  padding: 20px;
  font-size: 20px;
}

nav a {
  font-size: 14px;
  color: black;
  text-align: right;
}

#showcase {
  background-image: url("src/ourworks.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-y: hidden;
}

.container {
  text-align: center;
  margin: 0 auto;
  padding: 0 3rem;
}

#showcase h1 {
  font-size: 50px;
  color: rgb(255, 255, 255);
  margin-top: 25vh;
}

.btn-primary {
  background-color: #fc5f45;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  margin: 4px;
  border-radius: 20px;
  width: 220px;
}

.icons {
  margin-top: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: px;
}
