footer
  .footer-img
    img(src='./src/images/Alexis-footer.png', alt='')
  .f-adress-gl
    h5 Alexis LLC.
    p
      | 4125 Brighton Circle Road 
      br
      |             Little Falls, MN 56345
  .f-adress-uk
    h5 Alexis LLC UK.
    p
      | 81 Golden Knowes Road
      br
      |             FRESHFIELD L37 6TP
  .f-follow
    h5 Follow Us
    .footer-social-img
      img(src='./src/images/fbook-footer.png', alt='')
      img(src='./src/images/twi-footer.png', alt='')
      img(src='./src/images/inst-footer.png', alt='')
      img(src='./src/images/g+-footer.png', alt='')
