@import "../../commons/variables";
@import "../../commons/mixins.scss";


.advantages {
  margin-top: 50px;
  @include flex-row;
  justify-content: space-evenly;
}

.advantages p,
.advantages2 p {
  color: $B200;
  line-height: 25px;
}

.advantages2 {
  margin-top: 40px;
  @include flex-row;
  justify-content: space-evenly;
}

.adv-header {
  @include flex-row;
}

.adv-header img {
  align-self: center;
}

.adv-header h5 {
  padding-left: 10px;
  font-family: $text-font;
  font-weight: 500;
  font-size: 18pt;
}

.adv1 {
  height: 180px;
  width: 350px;
}
