section.select-us
  .select-header
    h1 Why Select Us?
    p We understand your requirement and provide quaity service
  .advantages
    .adv1
      .adv-header
        img(src='./src/images/graphics.png' alt='')
        h5
          | Business 
          br
          |               Growth
      p
        | Success scrum project funding marketing seed money prototype
        | innovator direct hackathon android angel investor.
    .adv2
      .adv-header
        img(src='./src/images/switchers.png' alt='')
        h5
          | Unlimited 
          br
          |               Revisions
      p
        | Technology founders churn rate niche market long tail release
        | iteration burn rate backing. Churn rate accelerator.
    .adv3
      .adv-header
        img(src='./src/images/arrow-side.png' alt='')
        h5
          | Ultimate 
          br
          |               Perfection
      p
        | Deployment ownership non-disclosure agreement vesting period
        | crowdfunding success influencer partnership.
  .advantages2
    .adv1
      .adv-header
        img(src='./src/images/smart.png' alt='')
        h5
          | Smart 
          br
          |               Experience
      p
        | Success scrum project funding marketing seed money prototype
        | innovator direct hackathon android angel investor.
    .adv2
      .adv-header
        img(src='./src/images/deadline.png' alt='')
        h5
          | Strict 
          br
          |               Deadline
      p
        | Technology founders churn rate niche market long tail release
        | iteration burn rate backing. Churn rate accelerator.
    .adv3
      .adv-header
        img(src='./src/images/arrow-side.png' alt='')
        h5
          | Award-winning 
          br
          |               Company
      p
        | Deployment ownership non-disclosure agreement vesting period
        | crowdfunding success influencer partnership.
  .get-started
    h4 Start your journey with us now
    button GET STARTED