* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-block-start: 0;
  margin-block-end: 0;
}

body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
