/*   COLORS       */

$R100: #fc5f45;
$G100: #3aa281;
$P100: #b27cf5;
$Y100: #feb960;
$G200: #f7f7f7;
$W100: #fff;
$B100: #020a07;
$B200: #616161;

/*      FONT        */
$header-font: "Libre Baskerville", sans-serif;
$text-font: "Poppins", sans-serif;

/*      SHADOWS     */

$BXS1: 0px 0px 24px 0px rgba(0, 0, 0, 0.25);
$BXS2: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
