.pricing-packs {
    @include flex-row;
    justify-content: space-around;
    margin-top: 85px;
  }
  
  .pricing-packs li {
    line-height: 30px;
    list-style: none;
  }
  
  .pricing-packs h4 {
    font-family: $text-font;
    font-weight: 400;
    font-size: 20pt;
    margin-top: 20px;
  }
  
  .pack-price1 {
    background-size: contain;
    background-image: url(../src/images/price-green.png);
    background-repeat: no-repeat;
    background-position: center top;
    width: 116px;
    height: 116px;
    @include flex($direction: column, $align: center, $justify: center);
    /*display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;*/
    color: $W100;
  }
  
  .pack-price1 p {
    font-family: $text-font;
    font-size: 11pt;
    margin-top: -35px;
  }