section.about-us
  .pic-1
    img(src='./src/images/555x777.png' alt='')
  .about-text
    h1 About Us.
    p
      | Analytics release series A financing launch party interaction design
      | android angel investor. Vesting period social media sales conversion
      | launch party rockstar incubator customer social proof graphical user
      | interface technology supply chain. Non-disclosure agreement rockstar
      | creative partner network launch party social proof paradigm shift long
      | tail influencer. 
      br
      br
      |           Monetization validation success. Seed round channels product
      |           management. Customer non-disclosure agreement strategy android growth
      |           hacking ramen buyer.