section.testimonials
      .testi-header
        h1 Testimonials
        p We understand your requirement and provide quality works
      .main-content
         .main-img
            img(src="./src/images/384.png" alt="")
         .main-text
          p
            | Deployment ownership non-disclosure agreement vesting period
            | crowdfunding
            br
            |             success influencer partnership equity series A financing network
            |             effects user
            br
            |             experience crowdsource. Burn rate stock bootstrapping direct mailing
            |             release client
            br
            |             traction creative facebook monetization crowdfunding rockstar.