section.our-focus
  .header-focus
    h1 Our Focus.
    p We understand your requirement and provide quality works
  .focus-icons
    .f-icon-1
      img(src='./src/images/webdesign.png' alt='')
      h3 Web Design
      p
        | Analytics release series A financing launch party interaction design
        | android angel investor.
    .f-icon-2
      img(src='./src/images/uxdesign.png' alt='')
      h3 UX Design
      p
        | Analytics release series A financing launch party interaction design
        | android angel investor.
    .f-icon-3
      img(src='./src/images/photography.png' alt='')
      h3 Photography
      p
        | Analytics release series A financing launch party interaction design
        | android angel investor.
    .f-icon-4
      img(src='./src/images/appwebdev.png' alt='')
      h3 App Development
      p
        | Analytics release series A financing launch party interaction design
        | android angel investor.