section.pricing-table
  .pricing-header
    h1 Pricing Table.
    p We understand your requirement and provide quality works.
  .pricing-packs
    .pack1
      h3 Starter
      .pack-price1
        h4 $125
        p Per Month
      ul
        li
          strong 200Gb
          |  Online Storage
        li 20 Files Per Day
        li 2TB Monthly Bandwidth
        li Secure Platform
        li 24/7 Customer Support
        li Fast &amp; Reliable
      button.btn-pack1 GET STARTED
    .pack2
      h3 Ultimate
      .pack-price2
        h4 $195
        p Per Month
      ul
        li
          strong 800Gb
          |  Online Storage
        li Unlimited Files Pre Day
        li 10TB Monthly Bandwidth
        li Secure Platform
        li 24/7 Customer Support
        li Fast &amp; Reliable
      button.btn-pack2 GET STARTED
    .pack3
      h3 Professional
      .pack-price3
        h4 $145
        p Per Month
      ul
        li
          strong 200Gb
          |  Online Storage
        li 20 Files Per Day
        li 2TB Monthly Bandwidth
        li Secure Platform
        li 24/7 Customer Support
        li Fast &amp; Reliable
      button.btn-pack3 GET STARTED