section.in-touch
  .in-touch-header
    h1 Get in Touch.
    p We understand your requirement and provide quality works
  .touch-form
    .input-line1
      input(type='text', placeholder='Your Name')
      input(type='email', name='', id='', placeholder='Your Email')
    .input-line2
      input(type='text', placeholder='Subject')
      input(type='text', placeholder='Project Budget')
    .input-message
      input(type='text', placeholder='Your Message')
    button Send Message