/*   COLORS       */
/*      FONT        */
/*      SHADOWS     */
.our-blog {
  background-color: #f7f7f7;
  background-image: url(./images/09.png);
  background-repeat: no-repeat;
  background-position: center top;
  height: 1150px; }

.blog-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px; }

.blog-header h1 {
  font-size: 50pt;
  font-family: "Libre Baskerville", sans-serif; }

.blog-header p {
  font-family: "Poppins", sans-serif;
  font-size: 18pt;
  color: #8b8b8b; }

.blogs {
  margin-top: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.blog-main {
  display: flex;
  flex-direction: column;
  height: 672px;
  width: 555px;
  color: #020a07;
  background-color: #fff;
  border-bottom: 3px solid #fc5f45;
  margin-right: 20px; }

.blog-main-header {
  background-image: url(./images/555x443.png);
  background-size: contain;
  height: 443px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end; }

.blog-main h5 {
  color: #fc5f45;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 12pt;
  margin-right: 20px; }

.blog-main-header p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 8pt; }

.blog-main-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 15px 38px; }

.blog-main-content {
  padding-top: 20px;
  display: flex;
  flex-direction: column; }

.blog-main-content h4 {
  font-family: "Poppins", sans-serif;
  font-size: 15pt;
  font-weight: 500;
  padding-left: 35px;
  line-height: 25px;
  margin-bottom: 25px; }

.blog-main-content p {
  line-height: 1.9;
  padding-left: 35px;
  color: #616161;
  font-size: 11pt;
  font-family: "Poppins", sans-serif;
  font-weight: 400; }

.side-blog {
  display: flex;
  flex-direction: column;
  align-items: center; }

.side-blog-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px; }

.side-blog-header h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 15pt;
  margin-right: 10px; }

.side-blog-header p {
  font-size: 10pt;
  font-family: "Poppins", sans-serif;
  font-weight: 400; }

.side-blog h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 500; }

.side-blog p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #616161; }

.article-layout {
  padding: 20px 20px 0 20px;
  display: flex;
  flex-direction: column;
  height: 208px;
  width: 555px;
  margin-bottom: 25px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05); }

.article-layout h4 {
  margin-bottom: 10px; }

.article-layout p {
  line-height: 1.9; }

.side-blog1 {
  background-color: #fff;
  color: #020a07;
  border-bottom: 3px solid #38c695; }

.side-blog1 h5,
.side-blog1 a {
  color: #38c695; }

.side-blog2 {
  background-color: #fff;
  color: #020a07;
  border-bottom: 3px solid #b27cf5; }

.side-blog2 h5,
.side-blog2 a {
  color: #b27cf5; }

.side-blog3 {
  background-color: #fff;
  color: #020a07;
  border-bottom: 3px solid #feb960; }

.side-blog3 h5,
.side-blog3 a {
  color: #feb960; }
