section.main-layout
  h1 We design things with love
  h1 and passion.
  button.btn-primary Our Works
  .items
    .item-1
      img(src='./src/images/$sign.png' alt='')
      p Fixed price projects
    .item-2
      img(src='./src/images/time.png' alt='')
      p Receive on Time
    .item-3
      img(src='./src/images/checked.png' alt='')
      p Satisfaction Guaranteed