<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet" href="./style.css")
    link(rel="stylesheet", href="./sections/header/header.css")
    title axisLanding
  body
    include sections/1.header/header.pug
    include sections/2.main/main.pug
    include sections/3.aboutUs/aboutUs.pug
    include sections/4.ourFocus/focus.pug
    include sections/5.video/video.pug
    include sections/6.portfolio/portfolio.pug
    include sections/7.ourTeam/team.pug
    include sections/results/results.pug
    include sections/8.worksteps/worksteps.pug
    include sections/9.ourPrices/price.pug
    include sections/10.testimonial/testimonial.pug
    include sections/11.selectUs/select.pug
    include sections/12.ourBlog/blog.pug
    include sections/13.subscribe/subscribe.pug
    include sections/14.contactUs/contact.pug
    include sections/15.footer/footer.pug