doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet" href="./style.css")
    title axisLanding
  body
    include sections/header/header.pug
    include sections/main/main.pug
    include sections/aboutUs/aboutus.pug
    include sections/ourFocus/focus.pug
    include sections/video/video.pug
    include sections/portfolio/portfolio.pug
    include sections/ourTeam/team.pug
    include sections/results/results.pug
    include sections/worksteps/worksteps.pug
    include sections/ourPrices/price.pug
    include sections/testimonial/testimonial.pug
    include sections/selectUs/select.pug
    include sections/ourBlog/blog.pug
    include sections/subscribe/subscribe.pug
    include sections/contactUs/contact.pug
    include sections/footer/footer.pug