@import "../../commons/variables";
@import "../../commons/mixins.scss";

.work-steps {
  height: 1720px;
  background-image: url(../src/images/05.png);
  background-repeat: no-repeat;
  background-position: center top;
}

.w-steps-header {
  @include flex-column;
  align-items: center;
  padding-top: 80px;
}

.w-steps-header h1 {
  font-size: 50pt;
  font-family: $header-font;
}

.w-steps-header p {
  font-family: $text-font;
  font-size: 18pt;
  color: $G300;
}

.steps-img {
  margin-top: 130px;
  @include flex-column;
  align-items: center;
}

.work-steps h4 {
  font-family: $text-font;
  font-size: 25pt;
  font-weight: 400;
}

.main-steps {
  @include flex-row;
}

.proj {
  margin-top: 50px;
  @include flex($direction: column);
}

.proj h4 {
  padding-left: 50px;
}

.proj p {
  line-height: 30px;
  padding-left: 50px;
  font-family: $text-font;
  font-size: 12pt;
  font-weight: 400;
}

.proj01 {
  margin-left: -280px;
  margin-top: -50px;
  position: absolute;
  height: 300px;
  width: 460px;
  background-color: $W100;
  box-shadow: $BXS2;
  @include flex-column;
  justify-content: center;
  background-image: url(../src/images/01-wstep.png), url(../src/images/line.png);
  background-repeat: no-repeat;
  background-position: left top;
  border-bottom: 3px solid $R100;
}

.proj02 {
  position: absolute;
  margin-left: 400px;
  margin-top: -50px;
  height: 300px;
  width: 460px;
  background-color: $W100;
  box-shadow: $BXS2;
  @include flex-column;
  justify-content: center;
  background-image: url(../src/images/02-wstep.png), url(../src/images/line.png);
  background-repeat: no-repeat;
  background-position: left top;
  border-bottom: 3px solid $G400;
}

.proj03 {
  margin-left: -280px;
  margin-top: -50px;
  position: absolute;
  height: 300px;
  width: 460px;
  background-color: $W100;
  box-shadow: $BXS2;
  @include flex-column;
  justify-content: center;
  background-image: url(../src/images/03-wstep.png), url(../src/images/line.png);
  background-repeat: no-repeat;
  background-position: left top;
  border-bottom: 3px solid $P100;
}

.proj04 {
  position: absolute;
  margin-left: 400px;
  margin-top: -50px;
  height: 300px;
  width: 460px;
  background-color: $W100;
  box-shadow: $BXS2;
  @include flex-column;
  justify-content: center;
  background-image: url(../src/images/04-wstep.png), url(../src/images/line.png);
  background-repeat: no-repeat;
  background-position: left top;
  border-bottom: 3px solid $Y100;
}
