- var steps  = [
  {post:"Buyer strategy incubator niche market startup. Entrepreneur nondisclosure agreement MVP traction beta social media investor accelerator", url='./src/images/556x300.png', posthead='Project Understanding'},
  {post:"Buyer strategy incubator niche market startup. Entrepreneur nondisclosure agreement MVP traction beta social media investor accelerator", url='./src/images/556x300-green.png', posthead='Research & Planning'},
  {post:"Buyer strategy incubator niche market startup. Entrepreneur nondisclosure agreement MVP traction beta social media investor accelerator", url='./src/images/556-purple.png', posthead='Wireframe & Design'},
  {post:"Buyer strategy incubator niche market startup. Entrepreneur nondisclosure agreement MVP traction beta social media investor accelerator", url='./src/images/556-light.png', posthead='Development'}
]


section.work-steps
  .w-steps-header
    h1 Work Steps.
    p We understand your requirement and provide quality works
  //-.steps-img
    img(src='./src/images/556x300.png' alt='')
    img(src='./src/images/556x300-green.png' alt='')
    img(src='./src/images/556-purple.png' alt='')
    img(src='./src/images/556-light.png' alt='')
  .proj
  img(src='./src/images/556x300.png' alt='')
    .proj01
      h4 Project Understanding
      p
        | Buyer strategy incubator niche market startup. Entrepreneur non
        | disclosure agreement MVP traction beta social media investor
        | accelerator.
        img(src='./src/images/556x300-green.png' alt='')
    .proj02
      h4 Research &amp; Planning
      p
        | Buyer strategy incubator niche market startup. Entrepreneur non
        | disclosure agreement MVP traction beta social media investor
        | accelerator.
        img(src='./src/images/556-purple.png' alt='')
    .proj03
      h4 Wireframe &amp; Design
      p
        | Buyer strategy incubator niche market startup. Entrepreneur non
        | disclosure agreement MVP traction beta social media investor
        | accelerator.
        img(src='./src/images/556-light.png' alt='')
    .proj04
      h4 Development
      p
        | Buyer strategy incubator niche market startup. Entrepreneur non
        | disclosure agreement MVP traction beta social media investor
        | accelerator.