section.our-blog
  .blog-header
    h1 Our Blog.
    p We understand your requirement and provide quality service
  .blogs
    .blog-main
      img(src='./src/images/555x443.png' alt='')
      .blog-main-header
        h5 DAMIAN SCHREIBER
        p December 10, 2015
      .blog-main-content
        h4
          | Facebook&rsquo;s CNN livestream will test its place in the second screen
          | era
        p
          | Traction seed money infographic accelerator pivot value
          | proposition ownership business-to-consumer iteration market
          | analytics paradigm
          a(href='') Read Full Article &raquo;
    .side-blog
      .side-blog1
        .side-blog-header
          h5 DAMIAN SCHREIBER
          p December 10, 2015
        h4 Google Street View adds virtual reality support
        p
          | Traction seed money infographic accelerator pivot value
          | proposition ownership business-to-consumer iteration market
          | analytics paradigm
          a(href='#') Read Full Article &raquo;
      .side-blog2
        .side-blog-header
          h5 DAMIAN SCHREIBER
          p December 10, 2015
        h4 Google Street View adds virtual reality support
        p
          | Traction seed money infographic accelerator pivot value
          | proposition ownership business-to-consumer iteration market
          | analytics paradigm
          a(href='#') Read Full Article &raquo;
      .side-blog3
        .side-blog-header
          h5 DAMIAN SCHREIBER
          p December 10, 2015
        h4 Google Street View adds virtual reality support
        p
          | Traction seed money infographic accelerator pivot value
          | proposition ownership business-to-consumer iteration market
          | analytics paradigm
          a(href='#') Read Full Article &raquo;